# How do i select a pandas series from a dataFrame?

In [1]:
import pandas as pd

In [4]:
# ufo = pd.read_table('http://bit.ly/uforeports', sep=',')
ufo = pd.read_csv('http://bit.ly/uforeports')

In [5]:
type(ufo)

pandas.core.frame.DataFrame

In [6]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [7]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [8]:
type(ufo['City'])

pandas.core.series.Series

In [9]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [11]:
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [12]:
ufo.shape

(18241, 5)

In [13]:
ufo.size

91205

In [15]:
ufo.ndim

2

In [19]:
#Concatinating columns and storing in new columns
# always use Bracketr notaion for 
ufo['Location'] = ufo['City'] + ', ' + ufo['State']
ufo['Location']

0                      Ithaca, NY
1                 Willingboro, NJ
2                     Holyoke, CO
3                     Abilene, KS
4        New York Worlds Fair, NY
                   ...
18236              Grant Park, IL
18237             Spirit Lake, IA
18238             Eagle River, WI
18239             Eagle River, WI
18240                    Ybor, FL
Name: Location, Length: 18241, dtype: object