# How Do I create DataFrame from another object?

In [1]:
import pandas as pd

***

In [7]:
# Using Dictionary
pd.DataFrame({'id':[100, 101, 102], 'color':['blue', 'green', 'red']})
# order can be different as dictionry doesn't store data in specific order

    id  color
0  100   blue
1  101  green
2  102    red

In [9]:
# Setting columns order and adding index column
df1 = pd.DataFrame({'id':[100, 101, 102], 'color':['blue', 'green', 'red']}, columns=['color', 'id'], index=['a', 'b', 'c'])
df1

   color   id
a   blue  100
b  green  101
c    red  102

***

In [11]:
# Using List
pd.DataFrame([[100, 'blue'], [101, 'green'], [102, 'red']])

     0      1
0  100   blue
1  101  green
2  102    red

In [13]:
# Adding column name
pd.DataFrame([[100, 'blue'], [101, 'green'], [102, 'red']], columns=['id', 'color'])

    id  color
0  100   blue
1  101  green
2  102    red

***

In [14]:
# Using Numpy array
import numpy as np

In [15]:
arr = np.random.rand(4,2)
arr

array([[0.48261264, 0.53086076],
       [0.95602995, 0.31001352],
       [0.34692532, 0.16268289],
       [0.83117483, 0.7413851 ]])

In [16]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.482613  0.530861
1  0.956030  0.310014
2  0.346925  0.162683
3  0.831175  0.741385

***

In [41]:
# Creating dataframe with minimum typing
pd.DataFrame({'student': np.arange(100,110,1), 'score': np.random.randint(60,101,10)})

   student  score
0      100     65
1      101     99
2      102     64
3      103     78
4      104     67
5      105     71
6      106     87
7      107     84
8      108     98
9      109     66

In [42]:
pd.DataFrame({'student': np.arange(100,110,1), 'score': np.random.randint(60,101,10)}).set_index('student')

         score
student
100         98
101         74
102         82
103         67
104         97
105         95
106         76
107         79
108         99
109         74

***

In [43]:
# Using Pandas Series
s = pd.Series(['round', 'square'], index=['c', 'd'], name='shape')
s

c     round
d    square
Name: shape, dtype: object

In [44]:
# Add this seris to a existing dataframe
pd.concat([df1, s], axis=1)
# Series name become column name
# mapping done based on index
# missing values are Added NaN

   color     id   shape
a   blue  100.0     NaN
b  green  101.0     NaN
c    red  102.0   round
d    NaN    NaN  square