# How do I rename columns in pandas DataFrame?

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
# Columns Name
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [12]:
# METHOD 1
# using rename method
# without inplace it will not save the change
ufo.rename(columns = {'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns

Index(['city', 'color reported', 'shape reported', 'state', 'time'], dtype='object')

In [13]:
# METHOD 2
# Renaming all the columns use list
ufo_cols = ['city', 'color reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
ufo.columns

Index(['city', 'color reported', 'shape reported', 'state', 'time'], dtype='object')

In [26]:
# METHOD 3
# while importing data
# names = new columns name
# header = start reading after index
ufo_cols1 = ['city', 'color reported', 'shape reported', 'state', 'time']
ufo1 = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols1, header=0)
ufo1.head()

                   city color reported shape reported state             time
0                Ithaca            NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro            NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke            NaN           OVAL    CO  2/15/1931 14:00
3               Abilene            NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair            NaN          LIGHT    NY  4/18/1933 19:00

In [28]:
# Changing all the space with underscore
ufo1.columns = ufo1.columns.str.replace(' ', '_')
ufo1.columns

Index(['city', 'color_reported', 'shape_reported', 'state', 'time'], dtype='object')